@media (max-width: 1110px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__items {
    margin-bottom: 25px;
  }
}

@media (max-width: 900px) {
  .account__container {
    flex-direction: column;
  }
  .account__info-block {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 850px) {
  .menu-btn {
    display: inline-block;
  }
  .block-info {
    flex-direction: column;
  }
  .block-info:last-child {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav__items {
    display: none;
  }
  .nav.nav_active .nav__items {
    display: flex;
    flex-direction: column;
  }
  .header__action-info {
    display: none;
  }
  .nav.nav_active .header__action-info {
    display: flex;
    flex-direction: column;
    z-index: 200;
  }
  .nav__link {
    font-size: 26px;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 775px) {
  .footer__item-info {
    margin-right: 0;
  }
}

@media (max-width: 585px) {
  .footer__support {
    flex-direction: column;
  }
  .clients__carousel {
    flex-direction: column;
    align-items: center;
  }
  .clients__item:first-child {
    margin-right: 0;
  }
  .clients__desc {
    margin-top: 0;
  }
  .clients__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .services__item-list {
    flex-direction: column;
  }
  .services__item {
    margin-right: 0;
  }
  .services__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__items {
    flex-direction: column;
    align-items: center;
  }
  .footer__item-info:nth-child(1) {
    margin-right: 0;
  }
  .footer__item-info:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .account__image-block {
    display: none;
  }
}

@media (max-width: 380px) {
  .account__form {
    flex-direction: column;
  }
  .account__form-input {
    margin-bottom: 20px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__desc {
    font-size: 16px;
  }
  .title {
    font-size: 36px;
  }
  .sub-title {
    margin-top: 10px;
    font-size: 16px;
  }
  .text-title {
    font-size: 30px;
  }
  .text-sub-title {
    font-size: 16px;
  }
  .footer__sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
  .footer__sub-desc {
    text-align: center;
  }
  .account__info-title {
    font-size: 36px;
  }
  .account__info-desc {
    font-size: 14px;
  }
}
