@import "../css/variables.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--main-text-color);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-title-block {
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 114%;
  color: var(--main-title-color);
}
.sub-title {
  font-size: 20px;
  line-height: 150%;
  color: var(--main-subtitle-color);
}

.info-items {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
.block-info {
  margin-top: 72px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  column-gap: 100px;
}
.block-image {
  max-width: 451px;
}
.block-img {
  width: 100%;
}
.block-text {
  max-width: 429px;
}
.block-info:last-child {
  flex-direction: row-reverse;
}

.text-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: var(--main-title-color);
}
.text-sub-title {
  font-size: 18px;
  line-height: 150%;
  color: var(--main-text-color);
}

/* HEADER SECTION */

.header {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-background-color);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 15px;
}
.nav__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.nav__item:not(:last-child) {
  margin-right: 28px;
}

.nav__link {
  text-decoration: none;
  color: var(--header-nav-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
}
.nav__link:hover {
  color: var(--second-text-color);
}
.nav__link_active {
  font-weight: 700;
  color: var(--header-active-color);
}

.header__action-info {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.header__lng-info {
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: var(--second-text-color);
  position: relative;
}
.header__lng-info::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../icons/header/lng-icon.svg);
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.header__login-button {
  padding: 8px 22px;
  background-color: var(--header-background-btn);
  color: var(--header-textcolor-btn);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.header__login-button:hover {
  opacity: 0.7;
}

/* HEADER SECTION END*/

/* HERO SECTION */

.hero {
  background-color: var(--hero-bg-color);
}
.hero__container {
  padding-top: 143px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__info {
  padding: 80px 0px 0px 0px;
  margin-bottom: 30px;
}
.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: var(--second-text-color);
  max-width: 500px;
  margin-bottom: 16px;
}

.hero__desc {
  max-width: 590px;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.hero__image {
  max-width: 590px;
}
.hero__img {
  width: 100%;
  border-radius: 5px;
}
.hero__btn-started {
  padding: 15px 40px;
  background-color: var(--thirty-color);
  color: var(--second-text-color);
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.46px;
  cursor: pointer;
  border: none;
}
.hero__btn-started:hover {
  opacity: 0.8;
}

/* HERO SECTION END */

/* DISCOVER */

.discover__container {
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DISCOVER SECTION END */

/* SERVICES  */

.services__container {
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
}
.services__desc-info {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--main-subtitle-color);
}

.services__item-list {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 59px;
}
.services__item:last-child {
  margin-right: 0px;
}
.services__item-title {
  text-align: center;
}
.services__item-desc {
  text-align: center;
  max-width: 370px;
}

.services__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #eff3fd;
  border-radius: 50%;
}

.services__img {
  width: 50%;
  height: 50%;
}

/* ACCOUNT SECTION */
.account {
  padding: 80px 0;
}
.account__container {
  padding: 60px 91px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: var(--thirty-color);
}
.account__info-block {
  max-width: 485px;
  margin-right: 48px;
}
.account__info-title {
  display: inline-block;
  font-weight: 700;
  font-size: 48px;
  line-height: 114%;
  color: var(--second-text-color);
  margin-bottom: 16px;
}
.account__info-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--second-text-color);
  margin-bottom: 48px;
}
.account__image-block {
  max-width: 485px;
}
.account__img {
  width: 100%;
}
.account__form {
  display: flex;
  align-items: center;
}
.account__form-input {
  height: 44px;
  border-radius: 5px;
  padding-left: 49px;
  border: none;
  position: relative;
}
.account__form-input::placeholder {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #bdbdbd;
}

.account__form-button {
  width: 102px;
  height: 44px;
  background-color: var(--four-color);
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.46px;
  color: var(--second-text-color);
  border: none;
  cursor: pointer;
  margin-left: 16px;
}
.account__form-button:hover {
  opacity: 0.8;
}

/* ACCOUNT END */

/* CLIENTS SECTION */
.clients__container {
  padding-bottom: 100px;
}
.clients__carousel {
  margin-top: 96px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.clients__carousel::before {
  content: "";
  width: 12.5px;
  height: 25px;
  background: url(../icons/clients/arrow.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.clients__carousel::after {
  content: "";
  width: 12.5px;
  height: 25px;
  background: url(../icons/clients/arrow.svg) no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  cursor: pointer;
}
.clients__images-items {
  display: flex;
  list-style: none;
  padding: 0;
}
.clinets__images-item:not(:last-child) {
  margin-right: 8px;
}
.clients__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 414px;
}
.clients__item:not(:last-child) {
  margin-right: 52px;
}
.clients__user-img {
  margin-top: 27px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.clients__desc {
  margin-top: 27px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #424242;
  text-align: center;
}
.clients__user-name {
  margin-top: 8px;
  text-align: center;
}

/* CLIENTS END */

/* FOOTER */
.footer {
  background: var(--thirty-color);
}
.footer__container {
  padding: 100px 0px 109px 0;
}
.footer__content {
  padding-bottom: 95px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--second-text-color);
}
.footer__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__item-list {
  list-style: none;
  padding: 0;
}
.footer__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--second-text-color);
}
.footer__item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--second-text-color);
  opacity: 0.7;
}
.footer__item-link:hover {
  opacity: 0.6;
}
.footer__item-info:not(:last-child) {
  margin-right: 38px;
}

.footer__sub-box {
  padding: 30px 42px;
  width: 338px;
  min-height: 256px;
  background-color: #2851e3;
}
.footer__sub-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: var(--second-text-color);
}
.footer__sub-desc {
  margin-top: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--second-text-color);
  opacity: 0.7;
}
.footer__sub-form {
  display: flex;
}
.footer__sub-input {
  width: 198px;
  height: 50px;
  padding-left: 15px;
}
.footer__sub-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #424242;
  opacity: 0.6;
}
.footer__sub-btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: var(--thirty-color);
  border-radius: 0px 6px 6px 0px;
  border: none;
  position: relative;
}
.footer__sub-btn::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0%;
  left: 50%;
  background: url(../icons/footer/arrow.svg) no-repeat;
}
.footer__support {
  padding-top: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__support-item-link {
  font-size: 14px;
  line-height: 17px;
  color: var(--second-text-color);
  text-decoration: none;
}
.footer__support-item-link:hover {
  opacity: 0.6;
}
.footer__support-social-img {
  display: flex;
}
.footer__support-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(210, 200, 200);
  border-radius: 50%;
  transition: all 1s;
}
.footer__support-social-item:hover {
  background-color: var(--four-color);
}
.foooter__support-item:not(:last-child) {
  margin-right: 36px;
}
.footer__support-item-link:nth-of-type(3) {
  margin-right: 0px;
}
.footer__support-items {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer__support-social-items {
  display: flex;
  list-style: none;
  padding: 0;
}
.footer__support-social-item:not(:last-child) {
  margin-right: 15px;
}
.footer__logo {
  max-width: 234px;
}
.footer__logo-img {
  width: 100%;
}
.footer__sub-btn {
  color: var(--second-text-color);
}
.footer__sub-btn:hover {
  opacity: 0.6;
}
/* FOOTER END */
