@import "../css/variables.css";
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--main-text-color);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-title-block {
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 114%;
  color: var(--main-title-color);
}
.sub-title {
  font-size: 20px;
  line-height: 150%;
  color: var(--main-subtitle-color);
}

.info-items {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
.block-info {
  margin-top: 72px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  column-gap: 100px;
}
.block-image {
  max-width: 451px;
}
.block-img {
  width: 100%;
}
.block-text {
  max-width: 429px;
}
.block-info:last-child {
  flex-direction: row-reverse;
}

.text-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: var(--main-title-color);
}
.text-sub-title {
  font-size: 18px;
  line-height: 150%;
  color: var(--main-text-color);
}

/* HEADER SECTION */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-background-color);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  margin-right: 15px;
}
.nav__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.nav__item:not(:last-child) {
  margin-right: 28px;
}

.nav__link {
  text-decoration: none;
  color: var(--header-nav-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
}
.nav__link:hover {
  color: var(--second-text-color);
}
.nav__link_active {
  font-weight: 700;
  color: var(--header-active-color);
}

.header__action-info {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.header__lng-info {
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: var(--second-text-color);
  position: relative;
}
.header__lng-info::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../icons/header/lng-icon.svg);
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.header__login-button {
  padding: 8px 22px;
  background-color: var(--header-background-btn);
  color: var(--header-textcolor-btn);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.header__login-button:hover {
  opacity: 0.7;
}

/* HEADER SECTION END*/

/* HERO SECTION */

.hero {
  background-color: var(--hero-bg-color);
}
.hero__container {
  padding-top: 143px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__info {
  padding: 80px 0px 0px 0px;
  margin-bottom: 30px;
}
.hero__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: var(--second-text-color);
  max-width: 500px;
  margin-bottom: 16px;
}

.hero__desc {
  max-width: 590px;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.hero__image {
  max-width: 590px;
}
.hero__img {
  width: 100%;
  border-radius: 5px;
}
.hero__btn-started {
  padding: 15px 40px;
  background-color: var(--thirty-color);
  color: var(--second-text-color);
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.46px;
  cursor: pointer;
  border: none;
}
.hero__btn-started:hover {
  opacity: 0.8;
}

/* HERO SECTION END */

/* DISCOVER */

.discover__container {
  padding: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DISCOVER SECTION END */
